In [ ]:
#Que1. Given a list [100, 200, 300, 400, 500], print elements from index 1 to 3.
list = [100, 200, 300, 400, 500]
list[1:4]

[200, 300, 400]

In [ ]:
#Que2. Find the largest and smallest numbers from the list [34, 78, 12, 99, 56].
list = [34, 78, 12, 99, 56]
largest = max(list)
smallest = min(list)
print("Largest number:",largest)
print("Smallest number:",smallest)

Largest number: 99
Smallest number: 12

In [ ]:
#Que3. Delete the key "city" from the dictionary {"name": "Sara", "age": 23, "city": "London"}.
dict = {"name": "Sara", "age": 23, "city": "London"}
del dict["city"]
print("Dict:",dict)

Dict: {'name': 'Sara', 'age': 23}

In [ ]:
#Que4. Add "marks": 95 to the dictionary {"name": "Bob", "age": 22}.
dict = {"name": "Bob", "age": 22}
dict["mark"] = 95
print("Dict:",dict)

Dict: {'name': 'Bob', 'age': 22, 'mark': 95}

In [ ]:
#Que5. Given a tuple (10, 20, 30, 40, 50), print the first, third, and last elements.
tuple = (10, 20, 30, 40, 50)
print("First Element:",tuple[0])
print("Third Element:",tuple[2])
print("Last Element:",tuple[4])

First Element: 10
Third Element: 30
Last Element: 50

In [ ]:
#Que6. Find the number of elements in the tuple (1, 2, 4, 5, 6).
tuple = (1, 2, 4, 5, 6)
print("Number of element:",len(tuple))

Number of element: 5

In [ ]:
#Que7. Create a list of 5 integers and print its type.
list = [1,2,3,4,5] #List of int
print("List:",list)

List: [1, 2, 3, 4, 5]

In [ ]:
#Que8. Create a dictionary {"name": "Alice", "age": 25} and print its type.
dict = {"name": "Alice", "age": 25}
print(type(dict))

<class 'dict'>

In [ ]:
#Que9. Find the largest of three numbers.
num1 = int(input("Enter First Number:"))
num2 = int(input("Enter Second Number:"))
num3 = int(input("Enter Third Number:"))
if num1 > num2 and num1 > num3:
    print(f'{num1}: is greatest')
elif num2 > num1 and num2 > num3:
    print(f'{num2}: is greatest')
else:
    print(f'{num3}: is greatest')

Enter First Number: 55
Enter Second Number: 65
Enter Third Number: 45

65: is greatest

In [ ]:
#Que10. Check if a letter is a vowel or consonant.
letter = input("Enter Letter:")
vowel = ["A","E","I","O","U"]
if letter in vowel:
    print(f'{letter}: is vowel')
else:
    print(f'{letter}: is consonant')

Enter Letter: E

E: is vowel

In [ ]:
#Que11. Check if a number is positive, negative, or zero.
num = int(input("Write a number:"))
if num > 0:
    print(f'{num}: is positive')
elif num < 0:
    print(f'{num}: is negative')
else:
    print(f'{num}: is Zero')

Write a number: -85

-85: is negative

## Bonus Question.

In [ ]:
#Que1. Simple Calculator: Perform +, -, *, / operations based on user input.
num1 = float(input("Enter First Number:"))
operations = input("Enter Operations:")
num2 = float(input("Enter Second Number:"))
w = (num1 + num2)
x = (num1 - num2)
y = (num1 * num2)
z = (num1 / num2)
if operations == "+":
    print(f': {num1} + {num2} = {w}')
elif operations == "-" :
    print(f': {num1} - {num2} = {x}')
elif operations == "*":
    print(f': {num1} * {num2} = {y}')
elif operations == "/":
    print(f': {num1} / {num2} = {z}')

Enter First Number:5