In [ ]:
#Q1: create a variable age with value 25 and print it.
age=25
print("age:",age)

age: 25

In [ ]:
#Q2: create a list of 5 colors and print the third color.
colors=["red","blue","black","green","white"]
print(colors[2])

black

In [ ]:
#Q3: update a variable name= "rahul" to "amit" and print both old and new values.
name = "rahul"       # old value
print("Old value:", name)
name = "amit"        # updated value
print("New value:", name)

Old value: rahul
New value: amit

In [ ]:
#Q4: create a list of 5 numbers and calculate the sum.
numbers=[32,54,76,98,23]
num=sum(numbers)
print(num)

283

In [ ]:
#Q5: add "apple" to a list fruits=["mango","banana"].
fruits=["mango","banana"]
fruits.append("apple")
print(fruits)

['mango', 'banana', 'apple']

In [ ]:
#Q6: remove "banana" from a list.
fruits=["apple","banana","mango"]
fruits.remove("banana")
print(fruits)

['apple', 'mango']

In [ ]:
#Q7: create a list of marks [50,60,70,80] and update the first elementto 55.
marks=[50,60,70,80]
marks[0]=55
print(marks)

[55, 60, 70, 80]

In [ ]:
#Q8: create a list of 5 cities and print the length of the list.
cities=["Delhi","Mumbai","Kolkata","Chennai","Bengaluru"]
print(len(cities))

5